.computer-card {
    border: 1px solid gray;
    border-radius: 15px;
    position: relative;
    height: 380px;
}

.computer-card img {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    padding: 5px;
}
.computer-info {
    padding-left: 20px;
}
.computer-info h3,h4,h5{
    margin: 7px;
}
.computer-btn{
    width: 100%;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.computer-btn:hover{
    background-color: khaki;
}
.computer-btn p{
    margin-right: 20px;
}